@font-face {
    font-family: 'SFProText-Regular';
    src: url(/fonts/SFProText-Regular.woff2) format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'SFProText-Semibold';
    src: url(/fonts/SFProText-Semibold.woff2) format('woff2');
    font-weight: bold;
}



html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}


img {
    max-width: 100%;
    height: auto;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    margin-left: 31px;
    margin-right: 31px;
    padding-top: 50px;
    padding-bottom: 1%;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "SF Pro Text";
    background: #FCF6F4;
    overflow-x: hidden;
}


@media(min-width:1441px) {
    .page-container {
        width: 1440px;
        margin: auto;
    }
}


/* 1140px */
@media(min-width:1025px) {

    /* Added Changes */
    .page-container {
        padding-left: 4.3%;
        padding-right: 4.3%;
    }



    /* FIRST SECTION */
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu li {
        font-family: "SF Pro Text";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.01em;
        line-height: 16px;
        text-align: right;
        color: #000;
    }

    .menu a {
        font-family: "SF Pro Text";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.01em;
        line-height: 16px;
        text-align: right;
        color: #000;
    }

    .menu #underline {
        border-bottom: 1px solid black;

    }

    .menu-one {
        display: flex;
        width: 8%;
        justify-content: space-between;
    }

    /* SECOND SECTION */
    .tag {
        display: none;
        /*  font-family: "SF Pro Text";
        font-weight: bold;
        font-size: 28px;
        letter-spacing: -0.04em;
        line-height: 29px;
        text-align: left;
        color: #161821; */
    }


    /* THIRD SECTION */
    .name {
        /* Works for auto margin */
        display: block;
        margin-top: 23vh;
        margin-left: auto;
        ;
    }

    .name-800px {
        display: none;
    }

    /* FOURTH SECTION */
    .title {
        font-family: "SF Pro Text";
        font-weight: normal;
        font-size: 17px;
        letter-spacing: -0.04em;
        line-height: 24px;
        text-align: right;
        color: #161821;
        margin-top: 2vh;
        /* Added */
        margin-bottom: 6vh;
    }

    span {
        text-decoration: underline;

    }

    /* FIFTH SECTION */
    .subtitle {
        display: none;
        /*  height: 60px;
        font-family: "SF Pro Text";
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.01em;
        line-height: 21px;
        text-align: left;
        color: #161821; */

    }

    .desktop {
        display: flex;
        justify-content: space-between;
        width: 100%;


    }

    .desktop .left a {
        width: 174px;
        font-family: "SF Pro Text";
        font-weight: normal;
        text-decoration: underline;
        font-size: 16px;
        letter-spacing: -0.01em;
        text-align: left;
        color: #000;
    }

    .desktop .left p {
        font-family: "SF Pro Text";
        src: url(/fonts/SF-Pro-Text-Bold.otf);
        width: 128px;
        font-family: "SF Pro Text";
        font-weight: bold;
        font-size: 44px;
        letter-spacing: -0.07em;
        line-height: 37px;
        text-align: left;
        color: #000;
        margin-top: 57px;

    }

    .desktop .right {
        display: flex;
    }

    .desktop .right p {
        width: 276px;
        font-family: "SF Pro Text";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.01em;
        line-height: 21px;
        text-align: right;
        color: #000;
        margin-top: 125px;
    }






}

@media(max-width:1024px) {

    /* FIRST SECTION */
    .menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10vh;
    }

    .menu li {
        font-family: "SF Pro";
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.02em;
        line-height: 20px;
        text-align: left;
        color: #0c1129;

    }

    .menu #underline {
        border-bottom: 1px solid black;
    }

    .menu-one {
        display: flex;
        width: 10%;
        justify-content: space-between;
    }

    /* SECOND SECTION */
    .tag {
        font-family: "SF Pro Text";
        font-weight: bold;
        font-size: 25px;
        letter-spacing: -0.05em;
        line-height: 23px;
        text-align: left;
        color: #161821;
    }


    /* THIRD SECTION */
    .name {
        /* Works for auto margin */
        display: block;
        margin-top: 3vh;
        margin-left: auto;
        ;
        margin-bottom: 3vh;
    }

    .name-800px {
        display: none;
    }

    /* FOURTH SECTION */
    .title {
        font-family: "SF Pro Text";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.04em;
        line-height: 24px;
        text-align: right;
        color: #161821;
        margin-bottom: 16vh;
        /* Added */
    }

    span {
        text-decoration: underline;

    }

    /* FIFTH SECTION */
    .subtitle {
        height: 60px;
        font-family: "SF Pro Text";
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.01em;
        line-height: 22px;
        text-align: left;
        color: #161821;

    }


    .desktop {
        display: none;
    }



}


@media(max-width:800px) {

    /* FIRST SECTION */
    .menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10vh;
    }

    .menu li {
        font-family: "SF Pro";
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.02em;
        line-height: 20px;
        text-align: left;
        color: #0c1129;

    }

    .menu #underline {
        border-bottom: 1px solid black;

    }

    .menu-one {
        display: flex;
        width: 14%;
        justify-content: space-between;
    }

    /* SECOND SECTION */
    .tag {
        font-family: "SF Pro Text";
        font-weight: bold;
        font-size: 25px;
        letter-spacing: -0.05em;
        line-height: 23px;
        text-align: left;
        color: #161821;
    }


    /* THIRD SECTION */
    .name {
        display: none;
    }

    .name-800px {
        /* Works for auto margin */
        display: block;
        margin-top: 10vh;
        margin-left: auto;
        ;
        margin-bottom: 3vh;
    }

    /* FOURTH SECTION */
    .title {
        font-family: "SF Pro Text";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.04em;
        line-height: 24px;
        text-align: right;
        color: #161821;

        margin-bottom: 16vh;
        /* Added */
    }

    span {
        text-decoration: underline;

    }

    /* FIFTH SECTION */
    .subtitle {
        height: 60px;
        font-family: "SF Pro Text";
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.01em;
        line-height: 21px;
        text-align: left;
        color: #161821;

    }



}

@media(max-width:425px) {

    /* FIRST SECTION */
    .menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10vh;
    }

    .menu li {
        font-family: "SF Pro";
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.02em;
        line-height: 20px;
        text-align: left;
        color: #0c1129;

    }

    .menu #underline {
        border-bottom: 1px solid black;

    }

    .menu-one {
        display: flex;
        width: 30%;
        justify-content: space-between;
    }

    /* SECOND SECTION */
    .tag {
        font-family: "SF Pro Text";
        font-weight: bold;
        font-size: 25px;
        letter-spacing: -0.05em;
        line-height: 23px;
        text-align: left;
        color: #161821;
    }


    /* THIRD SECTION */
    .name {
        /* Works for auto margin */
        display: block;
        margin-top: 10vh;
        margin-left: auto;
    }

    .name-800px {
        display: none;
    }


    /* FOURTH SECTION */
    .title {
        font-family: "SF Pro Text";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.04em;
        line-height: 24px;
        text-align: left;
        color: #161821;
        margin-bottom: 15vh;
        width: unset;
        margin-left: unset;
        margin-right: unset;

    }

    span {
        text-decoration: underline;

    }

    /* FIFTH SECTION */
    .subtitle {
        height: 60px;
        font-family: "SF Pro Text";
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.01em;
        line-height: 21px;
        text-align: left;
        color: #161821;
    }

}


@media (max-width:375px) {

    /* FIRST SECTION */
    .menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10vh;
    }

    .menu li {
        font-family: "SF Pro";
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.02em;
        line-height: 20px;
        text-align: left;
        color: #0c1129;

    }

    .menu #underline {
        border-bottom: 2px solid black;
    }

    .menu-one {
        display: flex;
        width: 30%;
        justify-content: space-between;
    }

    /* SECOND SECTION */
    .tag {
        font-family: "SF Pro Text";
        font-weight: bold;
        font-size: 25px;
        letter-spacing: -0.05em;
        line-height: 23px;
        text-align: left;
        color: #161821;
    }


    /* THIRD SECTION */
    .name {
        /* Works for auto margin */
        display: block;
        margin-top: 10vh;
        margin-left: auto;
    }

    .name-800px {
        display: none;
    }


    /* FOURTH SECTION */
    .title {
        font-family: "SF Pro Text";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.04em;
        line-height: 24px;
        text-align: left;
        color: #161821;
        margin-bottom: 15vh;
        width: unset;
        margin-left: unset;
        margin-right: unset;

    }

    span {
        text-decoration: underline;

    }

    /* FIFTH SECTION */
    .subtitle {
        height: 60px;
        font-family: "SF Pro Text";
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.01em;
        line-height: 21px;
        text-align: left;
        color: #161821;
    }

}