@font-face {
    font-family: 'SFProText-Regular';
    src: url(/fonts/SFProText-Regular.woff2) format('woff2');
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    margin-left: 31px;
    margin-right: 31px;
    padding-top: 50px;
    padding-bottom: 1%;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family:  'SFProText-Regular';
    background: #FCF6F4;
}

@media(min-width:800px) {
    /* FIRST SECTION 1/3 */
    .first-section{
        padding-right:5%;
        margin-bottom: 5vh;
    }

    .first-section a {
        font-family:  'SFProText-Regular';
        font-weight: normal;
        text-decoration: underline;
        font-size: 18px;
        letter-spacing: -0.02em;
        text-align: left;
        color: blue;
    }

    
    .first-section p {
        width: 53%;
        font-family:  'SFProText-Regular';
        font-weight: normal;
        font-size: 21px;
        line-height: 33px;
        color: #161821;
        margin-top: 40px;
        text-align: left;
        margin: auto;
        margin-top: 100px;
    }


    /* SECOND SECTION 2/3 */
    .second-section{
        width: 60%;
        margin: auto;
    }

    .second-section .items {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: max-content;
    }

    .second-section .items section{
        margin-bottom: 10vh;
    }

    .second-section .items img {
        margin-bottom: 13px;
    }

    .second-section .items section p{
        width: 90%;
        font-family:  'SFProText-Regular';
        font-weight: 500;
        font-size: 21px;
        letter-spacing: -0.03em;
        line-height: 34px;
        text-align: left;
        color: #161821;
        margin-left: 29px;
    }
    /* THIRD SECTION 3/3 */

    .third-section p {
        width: 55.95%;
        margin: auto;
        font-family:  'SFProText-Bold';
        font-weight: bold;
        font-size: 16px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #002eff;

    }
    
    span {
        color: #002EFF;
    }
   


    .third-section .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10vh;
    }

    .third-section #top-btn {
        font-family:  'SFProText-Regular';
        font-weight: 500;
        text-decoration: underline;
        font-size: 18px;
        letter-spacing: -0.03em;
        line-height: 21px;
        text-align: left;
        color: #161821;
        width: fit-content;
        margin-left: auto;
    }


    .third-section #return-footer-btn {
        font-family:  'SFProText-Regular';
        font-weight: normal;
        text-decoration: underline;
        font-size: 17px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #161821;

    }
}

@media(max-width:800px) {
    /* FIRST SECTION 1/3 */
    .first-section{
        padding-right:5%;
        margin-bottom: 5vh;
    }

    .first-section a {
        font-family:  'SFProText-Regular';
        font-weight: normal;
        text-decoration: underline;
        font-size: 15px;
        letter-spacing: -0.02em;
        text-align: left;
        color: blue;
        margin-bottom: 90px;
    }

    .first-section p {
        width: 100%;
        font-family:  'SFProText-Regular';
        font-weight: normal;
        font-size: 17px;
        line-height: 23px;
        color: #161821;
        margin-top: 20px;
        text-align: left;
    }


    /* SECOND SECTION 2/3 */

    .second-section .items {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: max-content;
    }

    .second-section .items section{
        margin-bottom: 10vh;
    }

    .second-section .items section p{
        width: 90%;
        font-family:  'SFProText-Regular';
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.03em;
        line-height: 21px;
        text-align: left;
        color: #161821;
        margin-left: 29px;
    }

    span {
        color: #002EFF;
    }

    /* THIRD SECTION 3/3 */

    .third-section p {
        width: 265px;
        font-family:  'SFProText-Regular';
        font-weight: bold;
        font-size: 16px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #002eff;

    }

    img {
        margin-bottom: 13px;
    }


    .third-section .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10vh;
    }

    .third-section #top-btn {
        font-family:  'SFProText-Regular';
        font-weight: 500;
        text-decoration: underline;
        font-size: 16px;
        letter-spacing: -0.03em;
        line-height: 21px;
        text-align: left;
        color: #161821;
        width: fit-content;
        margin-left: auto;
    }


    .third-section #return-footer-btn {
        font-family:  'SFProText-Regular';
        font-weight: normal;
        text-decoration: underline;
        font-size: 15px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #161821;

    }
}