@font-face {
    font-family: "SF Pro Text";
    src: url(/fonts/SF-Pro-Text-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "SF Pro Text";
    src: url(/fonts/SF-Pro-Text-Bold.otf);
    font-weight: bold;
}



@media(min-width:425px){

    .second-section-notice{
        margin: auto;
        width: 60%;
    }
    
    .second-section-notice h1{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 1%;
        white-space: nowrap;
    }
    
    .second-section-notice p{
        width: 100%;
        line-height: 34px;
        font-family: "SF Pro Text";
        font-weight: 400;
    }
    
    .second-section-notice  a {
        border-bottom: 1px solid blue;
        color: blue;
    }
    
    #proceed{
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 5%;
        border: none;
        color: blue;
        text-decoration: underline;
        margin-bottom: 20%;
    }
}


@media(max-width:425px){

    .second-section-notice{
        margin: auto;
        width: 100%;
    }
    
    .second-section-notice h1{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        white-space: nowrap;
        font-size: 25px;

    }
    
    .second-section-notice p{
        width: 100%;
        line-height: 34px;
    }
    
    .second-section-notice  a {
        border-bottom: 1px solid black;
        color: blue;
    }
    
    #proceed{
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 5%;
        border: none;
        color: blue;
        text-decoration: underline;
        margin-bottom: 20%;
    }
}